---
layout: default
---

{% for post in site.posts limit:1 %}
  <header class="post-header">
    <h1 class="post-title"><a class="post-link" title="Permalink to {{ post.title }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
    <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}
    {% if post.categories %}
      in
      {% for category in post.categories %}
        {{ category }}{% if forloop.last != true %}, {% endif %}
      {% endfor %}
    {% endif %}
    {% if post.author %}
     by {{ post.author }}
    {% endif %}</p>
  </header>

  <article class="post-content">
    {{ post.content }}
  </article>
{% endfor %}
