<header class="post-header">
  <h1 class="post-title">
    {% if post.title %}
      {{ post.title }}
    {% elsif page.title %}
      {{ page.title }}
    {% endif %}
  </h1>
  <ul class="post-meta">
    {% if post.date %}
      <li>{{ post.date | date: "%B %-d, %Y" }}</li>
    {% elsif page.date %}
      <li>{{ page.date | date: "%B %-d, %Y" }}</li>
    {% endif %}

    {% if post.updated %}
      <li>Updated: {{ post.date_time_updated_html | timeago }}</li>
    {% elsif page.updated %}
      <li>Updated: {{ page.date_time_updated_html | timeago }}</li>
    {% endif %}

    {% if site.categories_display and page.categories %}
      <li>Topics:
        {% for category in page.categories %}
          {% categorylink category %}{{ category }}{% endcategorylink %}
          {% unless forloop.last %}, {% endunless %}
        {% endfor %}
      </li>
    {% endif %}

    {% if page.meta %} <li>{{ page.meta }}</li> {% endif %}

    {% if site.readtime_display %}
      <li class="readtime" title"Estimated reading time">
        {% if content %}
          {% assign readtime = content | reading_time %}
        {% elsif post.content %}
          {% assign readtime = post.content | reading_time %}
        {% endif %}
        about {{ readtime | apnumber }} minute{% unless readtime == 1 %}s{% endunless %}
      </li>
    {% endif %}
  </ul>
</header>
