{% if site.articles_display_recent %}
  <aside class="recent-articles">
    {% if site.articles_recent_title %}
      <h1>{{ site.articles_recent_title }}</h1>
    {% endif %}
    <ol class="post-list">
      {% for post in site.posts limit:{{ site.data.layout.recent_posts }} %}
        <li><h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      {% endfor %}
    </ol>
  </aside>
{% endif %}
