{% if site.data.layout.recentposts_display %}
  <div class="recent-articles">
    {% if site.data.layout.recentposts_title %}
      <h1>{{ site.data.layout.recentposts_title }}</h1>
    {% endif %}
    <ol class="post-list">
      {% for post in site.posts limit:{{ site.data.layout.recentposts_count }} %}
        <li><h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
          <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}
          {% if post.categories and site.data.layout.categories_position == "header" %}
            in
            {% for category in post.categories %}
              {{ category }}{% if forloop.last != true %}, {% endif %}
            {% endfor %}
          {% endif %}
          {% if post.author %}
           by {{ post.author }}
          {% endif %}
          {% if site.data.layout.readtime_display %}
            - 
            {% if site.data.layout.readtime_title == "icon" %}
              <span class="fa-oclock"></span>
            {% else %}
              {{ site.data.layout.readtime_title }}
            {% endif %}
              {% if post.content | readtime == 0 %}
                less than a minute
              {% else %}
                {{ post.content | readtime | pluralize: "minute" }}
              {% endif %}
          {% endif %}</p>
          <p class="post-summary">{% if post.summary %}
            {{ post.summary }}
          {% else %}
            {{ post.content | strip_html | truncatewords: 20 }}
          {% endif %}</p>
      {% endfor %}
    </ol>
  </div>
{% endif %}
