<p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}
{% if post.categories and site.data.layout.categories_position == "header" %}
  in
  {% for category in post.categories %}
    {{ category }}{% if forloop.last != true %}, {% endif %}
  {% endfor %}
{% endif %}
{% if post.author %}
 by {{ post.author }}
{% endif %}
{% if site.data.layout.readtime_display %}
  -
  {% if site.data.layout.readtime_title == "icon" %}
    <span class="fa-oclock"></span>
  {% else %}
    {{ site.data.layout.readtime_title }}
  {% endif %}
    {% if post.content | readtime == 0 %}
      less than a minute
    {% else %}
      {{ post.content | readtime | pluralize: "minute" }}
    {% endif %}
{% endif %}</p>
<p class="post-summary">{% if post.summary %}
  {{ post.summary }}
{% else %}
  {{ post.content | strip_html | truncatewords: 20 }}
{% endif %}</p>
