---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import
  "bourbon/bourbon",
  "base/base",
  "neat/neat",
  "include-media",
  "fontawesome/font-awesome"
;

$fonts_dir: "../fonts" !default;

@include font-face("MavenPro", "#{$fonts_dir}/mavenpro/maven_pro_regular-webfont", $file-formats: eot svg ttf woff);
@include font-face("MavenPro", "#{$fonts_dir}/mavenpro/maven_pro_bold-webfont", bold, $file-formats: eot svg ttf woff);
@include font-face("MavenPro Medium", "#{$fonts_dir}/mavenpro/maven_pro_medium-webfont", $file-formats: eot svg ttf woff);
@include font-face("MavenPro Black", "#{$fonts_dir}/mavenpro/maven_pro_black-webfont", $file-formats: eot svg ttf woff);

// Site Header
header.site-header {
  @include outer-container(100%);
  padding-bottom: .5rem;
  background-color: $primary-color;
  box-shadow: 0 .25rem .33rem rgba(0, 0, 0, 0.26);
  color: text-color(light);

  * {
    margin-bottom: 0;
  }

  button.menu {
    @include span-columns(1);
    margin-top: rem(5);
    background: none;
    font-size: $base-font-size * 1.33;
    color: text-color(light);
  }

  div.headers {
    @include span-columns (11);

    * {
      display: inline-block;
    }
  }

  h1.site-title {
    font-size: $base-font-size * 2;

    a {
      color: inherit;
    }
  }

  h2.site-subtitle {
    @include media('<medium') { display: none; }
    @include margin(1rem null null 1.5rem);
    font-size: $base-font-size * 1.5;
    font-weight: normal;
    color: text-color(light, secondary);
  }
}

// Menu
nav.site-nav {
  font-size: $base-font-size * 1.33;

  a {
    text-transform: lowercase;
  }
}

div.search {
  margin-top: .55rem;
  font-size: $base-font-size * 1.33;
  color: text-color(dark);

  input {
    @include transition(all 0.5s ease);
    position: relative;
    width: 3rem;
    border: 0;
    outline: none;
    box-shadow: 2px 2px 10px -10px $divider-color;
    padding: .5rem;
    background-color: transparent;
    cursor: pointer;

    @include placeholder {
      color: text-color(light);
    }

    &:hover,
    &:active,
    &:focus {
      @include placeholder {
        color: $accent-fallback2-color;
        text-shadow: 1px 1px 1px color(black);
      }
    }

    &:focus {
      @include shift(-6);
      width: 15rem;
      cursor: text;
      background-color: $accent-fallback2-color;
      font-family: MavenPro;
    }
  }

  #search_results {
    // @include shift(-1);
    display: none;
    position: absolute;
    width: 15rem;
    box-shadow: 2px 2px 10px -10px $divider-color;
    padding: .5rem .5rem .5rem 1.25rem;
    background-color: $accent-fallback2-color;
    font-size: $base-font-size * 1.1;
    line-height: normal;

    &.search_active {
      display: block;
    }

    .close-button::before {
      content: $fa-var-times-circle;
      margin-left: -.75rem;
      font-family: FontAwesome;
      color: text-color(dark, icon);
    }

    .results_count {
      padding-left: .25rem;
      font-size: $base-font-size * .9;
      color: text-color(dark, hint);
    }

    ul {
      display: block;
      margin: 1rem 0;

      li {
        padding: 0 .8rem;

        a {
          text-decoration: underline;
          color: text-color(dark);
        }
      }
    }
  }
}

// Content
div.mainbody {
  @include span-columns(10);
  @include shift(1);
  @include margin(2rem null 2rem null);

  p {
    clear: left;
  }

  h1 {
    font-size: $base-font-size * 1.33;
  }

  ul.post-meta {
    font-size: $base-font-size * .9;
  }

  figure.code-highlight-figure {
    @include span-columns(8);
    @include media('<x-large') { @include span-columns(11); };
  }
}

// Site Footer
footer.site-footer {
  @include outer-container();
  clear: both;
  max-width: none;
  padding-top: 2rem;
  background-color: $primary-alternate2-color;
  color: text-color(light);

  a {
    color: $action-alternate-color;
  }
}

aside {
  margin-bottom: 1.5rem;

  &.recentposts {
    @include span-columns(6);
    @include shift(.5);
    @include media('<medium') {
      @include shift(1);
      @include omega();
      clear: both;
    };
  }

  &.blogroll {
    @include span-columns(5);
    @include media('<medium') {
      @include shift(1);
      @include omega();
      clear: both;
    };

    span.subtitle {
      &::before { content: ' - '; }
      @include media('<large') { font-size: $base-font-size * .8 };
      @include media('<medium') { display: none };
      font-size: $base-font-size * .9;
    }
  }
}

p.site-info {
  @include span-columns(9.25);
  @include shift(.5);
  @include media('<large') { font-size: $base-font-size * .7; }
  font-size: $base-font-size * .9;
}

span.license {
  &::before { content: "\\\\ "; }
  @include media('<medium') {
    &::before { content: ''; }
    display: block
  };
  @include media('<large') { font-size: $base-font-size * .7; }
  font-size: $base-font-size * .9;
}

ul.social {
  @include span-columns(2.25);
  @include media('<large') { display: none };
  font-size: $base-font-size * 1.33;

  li {
    display: inline-block;
    margin-right: .5rem;
  }

  a {
    color: text-color(light);

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }

  .fa-rss {
    &:hover,
    &:active,
    &:focus {
      color: #fa9d4a;
    }
  }

  .fa-twitter {
    &:hover,
    &:active,
    &:focus {
      color: #5ea9dd;
    }
  }

  .fa-github {
    &:hover,
    &:active,
    &:focus {
      color: #4078c0;
    }
  }

  .fa-linkedin {
    &:hover,
    &:active,
    &:focus {
      color: #0077b5;
    }
  }
}
