---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import
  "bourbon/bourbon",
  "base/base",
  "neat/neat",
  "palette",
  "fontawesome/font-awesome"
;

$fonts_dir: "../fonts" !default;

@include font-face("MavenPro", "#{$fonts_dir}/mavenpro/maven_pro_regular-webfont", $file-formats: eot svg ttf woff);
@include font-face("MavenPro", "#{$fonts_dir}/mavenpro/maven_pro_bold-webfont", bold, $file-formats: eot svg ttf woff);
@include font-face("MavenPro Medium", "#{$fonts_dir}/mavenpro/maven_pro_medium-webfont", $file-formats: eot svg ttf woff);
@include font-face("MavenPro Black", "#{$fonts_dir}/mavenpro/maven_pro_black-webfont", $file-formats: eot svg ttf woff);

// Site Header
header.site-header {
  @include outer-container(100%);
  @include border-bottom-radius(6rem);
  padding: .5rem 0;
  background-color: $md-blue-500;

  * {
    margin-bottom: 0;
  }

  li {
    display: inline-block;
    margin-right: 2rem;
  }

  div.site-titles {
    @include span-columns(3.5);
    @include shift(.5);

    h1.site-title {
      font-size: 2.8rem;
    }

    h2.site-subtitle {
      @include shift(.5);
      font-size: 1.3rem;
      font-weight: normal;
      color: adjust-color($medium-gray, $lightness: -20%);
    }
  }

  div.site-links {
    @include span-columns(4);
    text-align: center;

    nav.site-nav {
      font-size: 2rem;

      a {
        border-bottom: 1px solid $blue;
        text-transform: lowercase;
      }
    }

    ul.social {
      font-size: 2rem;
    }
  }

  div.search {
    @include span-columns(4);
    position: relative;
    font-size: 1.5rem;

    input {
      @include span-columns(3 of 4);
      @include shift(.5);
      border: 0;
      padding: .2rem;
    }

    ul {
      @include span-columns(3 of 4);
      @include shift(.5);
      position: absolute;
      top: 100%;
      background-color: adjust-color(white, $alpha: -0.2);

      li {
        padding: 0 .5rem;
        font-size: 1.2rem;
      }
    }
  }
}

// Content
div.mainbody {
  @include span-columns(10);
  @include shift(1);

  p {
    clear: left;
  }

  figure.code-highlight-figure {
    @include span-columns(8);
  }
}

// Site Footer
div.footer-asides {
  @include outer-container;

  aside.recentposts {
    @include span-columns(7);
  }

  aside.blogroll {
    @include span-columns(5);
  }
}
