/* line 18, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 24, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
body {
  margin: 0;
}

/* line 36, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/* line 54, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 64, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 71, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
[hidden],
template {
  display: none;
}

/* line 80, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
a {
  background-color: transparent;
}

/* line 85, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 94, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 99, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 105, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 111, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 117, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 123, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
small {
  font-size: 80%;
}

/* line 128, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 136, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 140, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 148, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
img {
  border: 0;
}

/* line 153, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 161, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
figure {
  margin: 1em 40px;
}

/* line 166, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 173, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
pre {
  overflow: auto;
}

/* line 178, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 195, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 206, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
button {
  overflow: visible;
}

/* line 214, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 224, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 233, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 239, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 247, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
input {
  line-height: normal;
}

/* line 255, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 264, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 272, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/* line 282, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 288, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 296, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/* line 302, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
textarea {
  overflow: auto;
}

/* line 308, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* line 316, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 321, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
td,
th {
  padding: 0;
}

/* line 13, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_main.scss */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/* line 23, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_main.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 28, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_main.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 34, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 46, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_main.scss */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/* line 56, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 63, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_main.scss */
textarea {
  resize: vertical;
}

/* line 3, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_browserupgrade.scss */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* line 2, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_errorpage.scss */
html.errorpages {
  color: #888;
  display: table;
  font-family: sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
}
/* line 10, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_errorpage.scss */
html.errorpages * {
  line-height: 1.2;
  margin: 0;
}
/* line 15, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_errorpage.scss */
html.errorpages body {
  display: table-cell;
  vertical-align: middle;
  margin: 2em auto;
}
/* line 21, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_errorpage.scss */
html.errorpages h1 {
  color: #555;
  font-size: 2em;
  font-weight: 400;
}
/* line 27, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_errorpage.scss */
html.errorpages p {
  margin: 0 auto;
  width: 280px;
}
@media only screen and (max-width: 280px) {
  /* line 34, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_errorpage.scss */
  html.errorpages body, html.errorpages p {
    width: 95%;
  }
  /* line 38, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_errorpage.scss */
  html.errorpages h1 {
    font-size: 1.5em;
    margin: 0 0 0.3em;
  }
}

/* line 4, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 6, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 35, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 8, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_helpers.scss */
.invisible {
  visibility: hidden;
}

/* line 61, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_helpers.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 67, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_helpers.scss */
.clearfix:after {
  clear: both;
}

@media print {
  /* line 12, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_media.scss */
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 22, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_media.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 27, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 31, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 37, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_media.scss */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  /* line 42, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_media.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 51, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_media.scss */
  thead {
    display: table-header-group;
  }

  /* line 55, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_media.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 60, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_media.scss */
  img {
    max-width: 100% !important;
  }

  /* line 64, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_media.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 71, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_media.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/**
 * Reset some basic elements
 */
/* line 4, ../_sass/_base.scss */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
/* line 16, ../_sass/_base.scss */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
/* line 31, ../_sass/_base.scss */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px;
}

/**
 * Images
 */
/* line 43, ../_sass/_base.scss */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
/* line 53, ../_sass/_base.scss */
figure > img {
  display: block;
}

/* line 57, ../_sass/_base.scss */
figcaption {
  font-size: 14px;
}

/**
 * Lists
 */
/* line 66, ../_sass/_base.scss */
ul, ol {
  margin-left: 30px;
}

/* line 71, ../_sass/_base.scss */
li > ul,
li > ol {
  margin-bottom: 0;
}

/**
 * Headings
 */
/* line 82, ../_sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

/**
 * Links
 */
/* line 91, ../_sass/_base.scss */
a {
  color: #2a7ae2;
  text-decoration: none;
}
/* line 95, ../_sass/_base.scss */
a:visited {
  color: #1756a9;
}
/* line 99, ../_sass/_base.scss */
a:hover {
  color: #111;
  text-decoration: underline;
}

/**
 * Blockquotes
 */
/* line 110, ../_sass/_base.scss */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
}
/* line 118, ../_sass/_base.scss */
blockquote > :last-child {
  margin-bottom: 0;
}

/**
 * Code formatting
 */
/* line 128, ../_sass/_base.scss */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef;
}

/* line 136, ../_sass/_base.scss */
code {
  padding: 1px 5px;
}

/* line 140, ../_sass/_base.scss */
pre {
  padding: 8px 12px;
  overflow-x: scroll;
}
/* line 144, ../_sass/_base.scss */
pre > code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/**
 * Wrapper
 */
/* line 156, ../_sass/_base.scss */
.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}
@media screen and (max-width: 800px) {
  /* line 156, ../_sass/_base.scss */
  .wrapper {
    max-width: -webkit-calc(800px - (30px));
    max-width: calc(800px - (30px));
    padding-right: 15px;
    padding-left: 15px;
  }
}

/**
 * Clearfix
 */
/* line 180, ../_sass/_base.scss */
.wrapper:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Icons
 */
/* line 194, ../_sass/_base.scss */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
/* line 200, ../_sass/_base.scss */
.icon > svg path {
  fill: #828282;
}

/**
 * Site header
 */
/* line 4, ../_sass/_layout.scss */
.site-header {
  border-top: 5px solid #424242;
  border-bottom: 1px solid #e8e8e8;
  min-height: 56px;
  position: relative;
}

/* line 13, ../_sass/_layout.scss */
.site-title {
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
}
/* line 20, ../_sass/_layout.scss */
.site-title, .site-title:visited {
  color: #424242;
}

/* line 26, ../_sass/_layout.scss */
.site-nav {
  float: right;
  line-height: 56px;
}
/* line 30, ../_sass/_layout.scss */
.site-nav .menu-icon {
  display: none;
}
/* line 34, ../_sass/_layout.scss */
.site-nav .page-link {
  color: #111;
  line-height: 1.5;
}
/* line 39, ../_sass/_layout.scss */
.site-nav .page-link:not(:first-child) {
  margin-left: 20px;
}
@media screen and (max-width: 600px) {
  /* line 26, ../_sass/_layout.scss */
  .site-nav {
    position: absolute;
    top: 9px;
    right: 30px;
    background-color: #fdfdfd;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    text-align: right;
  }
  /* line 53, ../_sass/_layout.scss */
  .site-nav .menu-icon {
    display: block;
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;
  }
  /* line 62, ../_sass/_layout.scss */
  .site-nav .menu-icon > svg {
    width: 18px;
    height: 15px;
  }
  /* line 66, ../_sass/_layout.scss */
  .site-nav .menu-icon > svg path {
    fill: #424242;
  }
  /* line 72, ../_sass/_layout.scss */
  .site-nav .trigger {
    clear: both;
    display: none;
  }
  /* line 77, ../_sass/_layout.scss */
  .site-nav:hover .trigger {
    display: block;
    padding-bottom: 5px;
  }
  /* line 82, ../_sass/_layout.scss */
  .site-nav .page-link {
    display: block;
    padding: 5px 10px;
  }
}

/**
 * Site footer
 */
/* line 94, ../_sass/_layout.scss */
.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0;
}

/* line 99, ../_sass/_layout.scss */
.footer-heading {
  font-size: 18px;
  margin-bottom: 15px;
}

/* line 104, ../_sass/_layout.scss */
.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

/* line 110, ../_sass/_layout.scss */
.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  margin-left: -15px;
}

/* line 117, ../_sass/_layout.scss */
.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px;
}

/* line 123, ../_sass/_layout.scss */
.footer-col-1 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - (30px / 2));
}

/* line 128, ../_sass/_layout.scss */
.footer-col-2 {
  width: -webkit-calc(20% - (30px / 2));
  width: calc(20% - (30px / 2));
}

/* line 133, ../_sass/_layout.scss */
.footer-col-3 {
  width: -webkit-calc(45% - (30px / 2));
  width: calc(45% - (30px / 2));
}

@media screen and (max-width: 800px) {
  /* line 139, ../_sass/_layout.scss */
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2));
  }

  /* line 145, ../_sass/_layout.scss */
  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2));
  }
}
@media screen and (max-width: 600px) {
  /* line 152, ../_sass/_layout.scss */
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2));
  }
}
/**
 * Page content
 */
/* line 164, ../_sass/_layout.scss */
.page-content {
  padding: 30px 0;
}

/* line 168, ../_sass/_layout.scss */
.page-heading {
  font-size: 20px;
}

/* line 172, ../_sass/_layout.scss */
.post-list {
  margin-left: 0;
  list-style: none;
}
/* line 176, ../_sass/_layout.scss */
.post-list > li {
  margin-bottom: 30px;
}

/* line 181, ../_sass/_layout.scss */
.post-meta {
  font-size: 14px;
  color: #828282;
}

/* line 186, ../_sass/_layout.scss */
.post-link {
  display: block;
  font-size: 24px;
}

/**
 * Posts
 */
/* line 196, ../_sass/_layout.scss */
.post-header {
  margin-bottom: 30px;
}

/* line 200, ../_sass/_layout.scss */
.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
}
@media screen and (max-width: 800px) {
  /* line 200, ../_sass/_layout.scss */
  .post-title {
    font-size: 36px;
  }
}

/* line 210, ../_sass/_layout.scss */
.post-content {
  margin-bottom: 30px;
}
/* line 213, ../_sass/_layout.scss */
.post-content h2 {
  font-size: 32px;
}
@media screen and (max-width: 800px) {
  /* line 213, ../_sass/_layout.scss */
  .post-content h2 {
    font-size: 28px;
  }
}
/* line 221, ../_sass/_layout.scss */
.post-content h3 {
  font-size: 26px;
}
@media screen and (max-width: 800px) {
  /* line 221, ../_sass/_layout.scss */
  .post-content h3 {
    font-size: 22px;
  }
}
/* line 229, ../_sass/_layout.scss */
.post-content h4 {
  font-size: 20px;
}
@media screen and (max-width: 800px) {
  /* line 229, ../_sass/_layout.scss */
  .post-content h4 {
    font-size: 18px;
  }
}

/**
 * Syntax highlighting styles
 */
/* line 4, ../_sass/_syntax-highlighting.scss */
.highlight {
  background: #fff;
}
/* line 8, ../_sass/_syntax-highlighting.scss */
.highlight .c {
  color: #998;
  font-style: italic;
}
/* line 9, ../_sass/_syntax-highlighting.scss */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
/* line 10, ../_sass/_syntax-highlighting.scss */
.highlight .k {
  font-weight: bold;
}
/* line 11, ../_sass/_syntax-highlighting.scss */
.highlight .o {
  font-weight: bold;
}
/* line 12, ../_sass/_syntax-highlighting.scss */
.highlight .cm {
  color: #998;
  font-style: italic;
}
/* line 13, ../_sass/_syntax-highlighting.scss */
.highlight .cp {
  color: #999;
  font-weight: bold;
}
/* line 14, ../_sass/_syntax-highlighting.scss */
.highlight .c1 {
  color: #998;
  font-style: italic;
}
/* line 15, ../_sass/_syntax-highlighting.scss */
.highlight .cs {
  color: #999;
  font-weight: bold;
  font-style: italic;
}
/* line 16, ../_sass/_syntax-highlighting.scss */
.highlight .gd {
  color: #000;
  background-color: #fdd;
}
/* line 17, ../_sass/_syntax-highlighting.scss */
.highlight .gd .x {
  color: #000;
  background-color: #faa;
}
/* line 18, ../_sass/_syntax-highlighting.scss */
.highlight .ge {
  font-style: italic;
}
/* line 19, ../_sass/_syntax-highlighting.scss */
.highlight .gr {
  color: #a00;
}
/* line 20, ../_sass/_syntax-highlighting.scss */
.highlight .gh {
  color: #999;
}
/* line 21, ../_sass/_syntax-highlighting.scss */
.highlight .gi {
  color: #000;
  background-color: #dfd;
}
/* line 22, ../_sass/_syntax-highlighting.scss */
.highlight .gi .x {
  color: #000;
  background-color: #afa;
}
/* line 23, ../_sass/_syntax-highlighting.scss */
.highlight .go {
  color: #888;
}
/* line 24, ../_sass/_syntax-highlighting.scss */
.highlight .gp {
  color: #555;
}
/* line 25, ../_sass/_syntax-highlighting.scss */
.highlight .gs {
  font-weight: bold;
}
/* line 26, ../_sass/_syntax-highlighting.scss */
.highlight .gu {
  color: #aaa;
}
/* line 27, ../_sass/_syntax-highlighting.scss */
.highlight .gt {
  color: #a00;
}
/* line 28, ../_sass/_syntax-highlighting.scss */
.highlight .kc {
  font-weight: bold;
}
/* line 29, ../_sass/_syntax-highlighting.scss */
.highlight .kd {
  font-weight: bold;
}
/* line 30, ../_sass/_syntax-highlighting.scss */
.highlight .kp {
  font-weight: bold;
}
/* line 31, ../_sass/_syntax-highlighting.scss */
.highlight .kr {
  font-weight: bold;
}
/* line 32, ../_sass/_syntax-highlighting.scss */
.highlight .kt {
  color: #458;
  font-weight: bold;
}
/* line 33, ../_sass/_syntax-highlighting.scss */
.highlight .m {
  color: #099;
}
/* line 34, ../_sass/_syntax-highlighting.scss */
.highlight .s {
  color: #d14;
}
/* line 35, ../_sass/_syntax-highlighting.scss */
.highlight .na {
  color: #008080;
}
/* line 36, ../_sass/_syntax-highlighting.scss */
.highlight .nb {
  color: #0086B3;
}
/* line 37, ../_sass/_syntax-highlighting.scss */
.highlight .nc {
  color: #458;
  font-weight: bold;
}
/* line 38, ../_sass/_syntax-highlighting.scss */
.highlight .no {
  color: #008080;
}
/* line 39, ../_sass/_syntax-highlighting.scss */
.highlight .ni {
  color: #800080;
}
/* line 40, ../_sass/_syntax-highlighting.scss */
.highlight .ne {
  color: #900;
  font-weight: bold;
}
/* line 41, ../_sass/_syntax-highlighting.scss */
.highlight .nf {
  color: #900;
  font-weight: bold;
}
/* line 42, ../_sass/_syntax-highlighting.scss */
.highlight .nn {
  color: #555;
}
/* line 43, ../_sass/_syntax-highlighting.scss */
.highlight .nt {
  color: #000080;
}
/* line 44, ../_sass/_syntax-highlighting.scss */
.highlight .nv {
  color: #008080;
}
/* line 45, ../_sass/_syntax-highlighting.scss */
.highlight .ow {
  font-weight: bold;
}
/* line 46, ../_sass/_syntax-highlighting.scss */
.highlight .w {
  color: #bbb;
}
/* line 47, ../_sass/_syntax-highlighting.scss */
.highlight .mf {
  color: #099;
}
/* line 48, ../_sass/_syntax-highlighting.scss */
.highlight .mh {
  color: #099;
}
/* line 49, ../_sass/_syntax-highlighting.scss */
.highlight .mi {
  color: #099;
}
/* line 50, ../_sass/_syntax-highlighting.scss */
.highlight .mo {
  color: #099;
}
/* line 51, ../_sass/_syntax-highlighting.scss */
.highlight .sb {
  color: #d14;
}
/* line 52, ../_sass/_syntax-highlighting.scss */
.highlight .sc {
  color: #d14;
}
/* line 53, ../_sass/_syntax-highlighting.scss */
.highlight .sd {
  color: #d14;
}
/* line 54, ../_sass/_syntax-highlighting.scss */
.highlight .s2 {
  color: #d14;
}
/* line 55, ../_sass/_syntax-highlighting.scss */
.highlight .se {
  color: #d14;
}
/* line 56, ../_sass/_syntax-highlighting.scss */
.highlight .sh {
  color: #d14;
}
/* line 57, ../_sass/_syntax-highlighting.scss */
.highlight .si {
  color: #d14;
}
/* line 58, ../_sass/_syntax-highlighting.scss */
.highlight .sx {
  color: #d14;
}
/* line 59, ../_sass/_syntax-highlighting.scss */
.highlight .sr {
  color: #009926;
}
/* line 60, ../_sass/_syntax-highlighting.scss */
.highlight .s1 {
  color: #d14;
}
/* line 61, ../_sass/_syntax-highlighting.scss */
.highlight .ss {
  color: #990073;
}
/* line 62, ../_sass/_syntax-highlighting.scss */
.highlight .bp {
  color: #999;
}
/* line 63, ../_sass/_syntax-highlighting.scss */
.highlight .vc {
  color: #008080;
}
/* line 64, ../_sass/_syntax-highlighting.scss */
.highlight .vg {
  color: #008080;
}
/* line 65, ../_sass/_syntax-highlighting.scss */
.highlight .vi {
  color: #008080;
}
/* line 66, ../_sass/_syntax-highlighting.scss */
.highlight .il {
  color: #099;
}
