<!DOCTYPE html>
<html class="no-js" lang="{{ site.language }}">

  {% include head.html %}

  <body>
    {% include header.html %}

    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <main>
      {{ content }}
    </main>

    {% include footer.html %}

    <script src="/js/plugins.js"></script>
    <script src="/js/main.js"></script>
    {% include googleanalytics.html %}
    {% include piwik.html %}
    {% include gosquared.html %}
  </body>
</html>
