// Typography
$base-font-family:    'MavenPro';
$heading-font-family: 'MavenPro Medium';

// Font Sizes
$base-font-size: 1vw;

// Line height
$base-line-height:    1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing:       $base-line-height * 1em;
$small-spacing:      $base-spacing / 2;
$base-z-index:       0;

// Scheme Choices
// For the colors, try http://www.materialpalette.com
$base-background-color:          color(white);
$base-font-scheme:               dark;
$primary-color:                  color(blue);
$primary-font-scheme:            light;
$primary-alternate1-color:       color(blue, lighten-2);
$primary-alternate1-font-scheme: dark;
$primary-alternate2-color:       color(blue, darken-3);
$primary-alternate1-font-scheme: light;
$accent-color:                   color(pink, accent-2);
$accent-color-font-scheme:       light;

$base-border-color: adjust-color(color(black), $alpha: .12);
$base-border: 1px solid $base-border-color;
