// Typography
$base-font-family:    'MavenPro';
$heading-font-family: 'MavenPro Medium';

// Font Sizes
$base-font-size: 1.2rem;

// Line Height
$base-line-height:    1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing:       $base-line-height * 1em;
$small-spacing:      $base-spacing / 2;
$base-z-index:       0;

// Scheme Choices
// For the colors, try http://www.materialpalette.com and check _palette.scss
$base-background-color:    color(white);
$base-font-color:          text-color(dark, primary);
$primary-color:            color(brown);
$primary-alternate1-color: color(brown, lighten-1);
$primary-alternate2-color: color(brown, darken-2);
$accent-color:             color(light-blue, accent-4);
$accent-fallback1-color:   color(light-blue, accent-3);
$accent-fallback2-color:   color(light-blue, accent-1);
$action-color:             $accent-color;
$action-alternate-color:   $accent-fallback1-color;

$divider-color:     adjust-color(color(black), $alpha: -.88);
$base-border-color: $divider-color;
$base-border:       1px solid $base-border-color;
